@page "/client/cart/home"
@using System.Security.Claims
@using Domain.Models.Authentication
﻿@using Microsoft.AspNetCore.Components.Authorization
@inject IClientService clienService
@inject IOrderService orderService
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Fresh and Organic</p>
					<h1>Cart</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- cart -->
<div class="cart-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="cart-table-wrap">
					<table class="cart-table">
						<thead class="cart-table-head">
							<tr class="table-head-row">
								<th class="product-remove"></th>
								<!--	<th class="product-image">Product Image</th>-->
								<th class="product-name">Name</th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-total">Total</th>
							</tr>
						</thead>
						<tbody>
							@foreach(var item in plates)
							{
								<tr class="table-body-row">
									<td class="product-remove"><a @onclick="() => DeletePlate(item.PlateId, userId)" ><i class="far fa-window-close"></i></a></td>
									<!--<td class="product-image"><img src="" alt=""></td>-->
									<td class="product-name">@item.PlateName</td>
									<td class="product-price">$@item.PlatePrice</td>
									<td class="product-quantity"><span>@item.Quantity</span></td>
									<td class="product-total">@item.Total</td>
								</tr>
							}
							
						
						
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="total-section">
					<table class="total-table">
						<thead class="total-table-head">
							<tr class="table-total-row">
								<th>Total</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr class="total-data">
								<td><strong>TAX: </strong></td>
								<td>FREE</td>
							</tr>
							<tr class="total-data">
								<td><strong>Shipping: </strong></td>
								<td>FREE</td>
							</tr>
							<tr class="total-data">
								<td><strong>Total: </strong></td>
								<td>$@plates.Sum(item => item.PlatePrice * item.Quantity)</td>
							</tr>
						</tbody>
					</table>
					<div class="cart-buttons">
						
						<a @onclick="PlaceOrder" class="boxed-btn black">Place order</a>
					</div>
				</div>

				<!--<div class="coupon-section">
					<h3>Apply Coupon</h3>
					<div class="coupon-form-wrap">
						<form action="index.html">
							<p><input type="text" placeholder="Coupon"></p>
							<p><input type="submit" value="Apply"></p>
						</form>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</div>
<!-- end cart -->
<!-- logo carousel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img src="assets/img/company-logos/1.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="assets/img/company-logos/2.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="assets/img/company-logos/3.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="assets/img/company-logos/4.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="assets/img/company-logos/5.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->
<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
						<li>support@fruitkha.com</li>
						<li>+00 111 222 3333</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Shop</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="index.html">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->
<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>
					Copyrights &copy; 2024 - <a href="https://hamzabek.com/">Hamza Bek</a>,  All Rights Reserved.<br>
					Distributed By - <a href="https://hamzabek.com/">Liado</a>
				</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end copyright -->

<!-- end copyright -->
					@code {
	[CascadingParameter] public Task<AuthenticationState> AuthStateTask { get; set; } = null!;
	private string userId;
	private string cartId;
	private bool isLoading = true;


	private IEnumerable<CartItem> plates = new List<CartItem>();

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthStateTask;

		foreach (var claim in authState.User.Claims)
		{
			Console.WriteLine($"Claim Type: {claim.Type} | Claim Value: {claim.Value}");
		}

		var userIdClaim = authState.User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier);
		var userCartIdClaim = authState.User.FindFirst(c => c.Type == "CartId");
		if (userIdClaim != null)
		{
			userId = userIdClaim.Value;
			cartId = userCartIdClaim.Value;
			plates = await clienService.GetCartItems(userId);

		}

		isLoading = false;
	}



	private async Task DeletePlate(string plateId, string userId)
	{
		var selectedPlate = await clienService.GetCartItems(userId);

		try
		{
			var response = await clienService.RemovePlateFromCart(plateId, userId);
			if (response.flag)
			{
				plates = plates.Where(p => p.PlateId != plateId).ToList();
				NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
			}

		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error deleting plate: {ex.Message}");
		}
	}

	private async Task PlaceOrder()
	{
		isLoading = true;

		try
		{
			var response = await orderService.PlaceOrder(userId, cartId);
			if (response.flag)
			{
				// Handle success (e.g., display a success message, redirect to another page, etc.)
				await orderService.ClearCartItems(userId);
				NavManager.NavigateTo("/client/order");
				Console.WriteLine("Order placed successfully.");

			}
			else
			{
				// Handle failure (e.g., display an error message)
				Console.WriteLine("Failed to place order.");
			}
		}
		catch (Exception ex)
		{
			// Handle exceptions
			Console.WriteLine($"Error placing order: {ex.Message}");
		}

		isLoading = false;
	}

}