@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.Authorization

<div class="nav-wrapper">
    <ul class="nav-links left">
        <li><a href="/content/home">Home</a></li>
    </ul>

    <ul class="nav-links center">
        <li ><a href="/client/cart/home">Cart</a></li>
        <li class="upward"><a href="/client/order">Order</a></li>
        <li class="forward"><a href="#">About</a></li>
    </ul>

    <ul class="nav-links right">
        <AuthorizeView Policy="AdminOnly">
            <Authorized>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn no-underline">Admin</a>
                    <div class="dropdown-content">
                        <a href="/admin/plate/add">Add Plate</a>
                        <a href="/admin/plates/">Plate</a>
                        <a href="/admin/orders">Orders</a>
                        <a href="/admin/identity/users">Users</a>
                    </div>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <li class="upward">
                    <a class="text-danger" href="account/identity/logout">Logout</a>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="forward">
                    <a href="account/identity/login">Login</a>
                </li>
                <li class="forward">
                    <a href="account/identity/register">Sign up</a>
                </li>
            </NotAuthorized>
        </AuthorizeView>

        
    </ul>
</div>